<ion-header>
  <nav-bar title="Share My Notes" (onClickSearch)="_showHideSearchBar=!_showHideSearchBar"></nav-bar>
</ion-header>

<ion-content padding>
  <ion-searchbar [hidden]="_showHideSearchBar" [(ngModel)]="users">
  </ion-searchbar>
  <ion-refresher (ionRefresh)="refreshLists($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-spinner *ngIf="_showSpinner"></ion-spinner>
  <div *ngIf="!_showSpinner">
    <empty-list *ngIf="_emptyTodoList"></empty-list>
    <ion-card *ngFor="let todoList of todoLists">
      <ion-card-header>
        <h1 text-center ion-text color="primary">{{todoList.name}}</h1>
      </ion-card-header>
      <ion-card-content (click)="goToDetails(todoList)">
        <h5>
          List Summary
        </h5>
        <div *ngIf="!todoList.items" padding>
          <h2 ion-text text-center color="gray">
            <i>
              Click on
              <span ion-text color="warning">the list</span> to Add your first Task
            </i>
          </h2>
        </div>
        <div *ngIf="!!todoList.items" padding>
          <ion-list>
            <ion-item *ngFor="let item of (todoList.items | value)">
              <span [ngClass]="{'strike':item.state}"> {{item.name}} </span>
            </ion-item>
          </ion-list>
        </div>
      </ion-card-content>
      <ion-row>
        <ion-col text-center>
          <button ion-button clear small icon-start color="danger" (click)="deleteList(todoList)">
            <ion-icon name="trash"></ion-icon>
            <div>Delete</div>
          </button>
        </ion-col>
        <ion-col text-center>
          <button ion-button clear small icon-start color="warning" (click)="updateList(todoList)">
            <ion-icon name="create"></ion-icon>
            <div>Edit name</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <ion-fab right bottom>
    <button color="secondary" ion-fab (click)="addList()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
