// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
// ADD PADDING TOP TO PLATFORM ANDROID
.toolbar-md {
  padding-top: 22px;
  min-height: 74px;
}

.strike {
  text-decoration: line-through;
}

.item-checkbox-disabled ion-label {
  opacity: 0.8 !important;
}

.text-center {
  text-align: center;
}

.center-vertically {
  padding-top: 25%;
  padding-bottom: 25%;
}

ion-card>ion-card-content>div>ion-list>ion-item {
  border-bottom: 1px solid lightgray !important;
}

.list-md ion-item-sliding {
  border-bottom: 1px solid lightgray;
}

.navigation-drawer {
  background-image: url("../assets/imgs/wallpaper.jpg");
  background-size: cover;
  height: auto;
}

.profil {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  margin-top: 16px;
}

.profil-img {
  margin-top: 25px;
  margin-bottom: 10px;
  border-radius: 50%;
  height: 80px;
}

.profil-text {
  margin-top: 5px;
  margin-bottom: 5px;
}

ion-spinner {
  display: block;
  margin: auto;
}

.transparent {
  background-color: transparent !important;
}

.none {
  display: none;
}
