.navigation-drawer {
  background-image: url('../assets/imgs/wallpaper.jpg');
  background-size: cover;
  height: auto;
}

.profil {
  margin: 16px;
}

.profil-img {
  margin-top: 25px;
  margin-bottom: 10px;
  border-radius: 50%;
  height: 80px;
}

.profil-text {
  margin-top: 5px;
  margin-bottom: 5px;
}
